@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}